  <div class=" container ">
    <nav>
    <div class="nav-wrapper" #7b1fa2 >
      <a href="#" class="brand-logo center">I Class U</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    
    </div>
  </nav>
  

    <script>
      $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    }
  );
    </script>
   
 
  <select style="text-align:center", class="browser-default">
    
    <option value="" disabled selected>건물</option>
    <option value="1">상과대학 1호관</option>
    <option value="2">상과대학 2호관</option>
    <option value="3">상과대학 3호관</option>
    <label >Materialize Disabled

     </label>

  </select>
            
 <select class="browser-default">
    
    <option value="" disabled selected>요일</option>
    <option value="1">월요일</option>
    <option value="2">화요일</option>
    <option value="3">수요일</option>
    <label>Materialize Disabled</label>
    
  </select>
            